.banner{
	background-color: darkblue;
	padding: 12px 15px;
	color: white;
font-weight: bold;
font-size: 25px;
}
body{
	margin: 0;
}
.nav-bar{
	background-color:skyblue;
	padding: 12px;
}
.nav-list{
	list-style: none;
}
.nav-item{
	padding: 25px 30px;
	display: inline;

}
.nav-link:hover{
	color: black;
	font-weight: bold;
}
.nav-link{
	text-decoration: none;
	color: sage green;
}
.nav-link.active{
	background-color: lavenderblush;
	padding: 12px;
	border-radius: 5px;
}


	.last{
		text-align: center;
		background-color: teal;
		height: 100px;
		padding: 12px;
	}
	.last .nnn{
		color: bold;
	}
	
	.main{
		height: 600px;
	}
	.nn{
		border-style: double;
		width: 400px;
		height: 300px;
		border-radius: 10px;
		margin-left: 60%;
	}
	.kk{
		border-style: double;
		width: 400px;
		height: 300px;
		border-radius: 10px;
		margin-top: -26%;
	}
	.aaa{
		border-style: double;
		height: 200px;
		width: 500px;
		padding: 12px;

	}
	.bb{
		border-style: double;
		margin-left: 47%;
		height: 200px;
		width: 500px;
		padding: 12px;
		margin-top: -18%;
	}
	.all{
height: 300px;
	}
	.top-bar{
		width: 100%;
		padding: 10px;
		background-color: #f8f9fa;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		
	}
	.search-container{
		display: flex;
		flex-wrap: wrap;
		max-width: 100%;
		
	}
	.search-bar{
		flex: 1;
		padding: 10px;
		font-size: 16px;
		border: 1px solid #ccc;
	    border-radius: 20px;
		min-width:200px;

	}
	.search-button{
		padding: 10px 20px;
		font-size: 16px;
		background-color: #0056b3;
		color: black;
		border: none;
		cursor: pointer;
		font-weight: bold;
		border-radius: 10px;
	}
	.search-button:hover{
		background-color: lightblue;

	}
	@media(max-width: 600px){
		
		.search-container{
			flex-direction: column;
			
		}
		.search-bar,
		.search-button{
			width: 100%;
			
			margin:  5px 0;

		}
	}